
[ssh_connection]
# Redirects known_hosts to /dev/null so no keys are saved or checked
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
